<h1>Capstone</h1>
This project will use location data to explore different neighborhoods.  
Created by Daniel Ochoa

In [2]:
import pandas as pd
import numpy as np

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
import urllib.request
import lxml
url_pc_canada = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
with urllib.request.urlopen(url_pc_canada) as response:
   html = response.read()

#used read_html() pandas function to grab table from web. 
df = pd.read_html(html,skiprows=1)[0]
# Add column names
df.columns = ['postal_code', 'borough', 'neighborhood']
print(df.shape)
df.head()

(180, 3)

  postal_code           borough               neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
#drop not assigned borough's
df = df[~df['borough'].isin(['Not assigned'])]
print("77 rows dropped because Not assigned to borough ",df.shape)
# df

77 rows dropped because Not assigned to borough  (103, 3)

In [5]:
df.head()

  postal_code           borough                                 neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
df.shape

(103, 3)